html {
    font-size: .4rem;
    
}

.full
{
    margin:0 auto;
    margin-top:150px ;
}

@media (min-width : 430px) {
    html {
        font-size: 0.6rem !important;
    }

    .full
    {
    margin:0 auto;
    margin-top:100px ;
    }

    
}

@media (min-width : 768px) {
    html {
        font-size: 1rem !important;
    }

    .full   
    {
    margin:0 auto;
    margin-top:50px ;
    }
}

.container {
    max-width: 960px;
}


body {
    direction: rtl;
    text-align: right;
    font-family: Vazir;
    font-weight: 300;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0,0,0,.05);
}

.myButton a:hover{
    text-decoration: none;
}

.myFooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2c3e50;
    color: white;
    text-align: center;
}

.myButton{
    background-color: #27ae60 !important;
    border-radius: 5px !important;
    
}

.myButton:hover{
    background-color: #c0392b !important;
    
    border-radius: 5px !important;
    transition: all 0.2s ease-in-out !important ;
    
}
.myButton a:hover {
    text-decoration: none !important;
}

.my-hr{
    background-color: #2980b9;
}
.my-hr2{
    background-color: #c0392b;
    opacity: 0.5;
    width: 50%;
}



